div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0.25rem;
  gap: 20px;
  font-weight: bold;
}

li a {
    text-decoration: none;
    color: black;
}

a.active {
  font-weight: bold;
  color: white;
  /* text-decoration: underline; */
}

input {
  background: rgb(208, 235, 208);
  border: 0;
  border-radius: 5cap;
  color: black;
  padding: 0.25rem;
}
/* 
button {
  background: rgb(79, 198, 79);
  border: 0;
  border-radius: 5cap;
  color: white;
  padding: 0.25rem;
  font-weight: bold;
} */